<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<!-- <div class="flex-grid__full-col reusable-type--hero-banner paragraph paragraph--type--reusable-content paragraph--view-mode--default"><section class="hero-banner"><div class="hero-banner__inner"><div class="hero-banner__image"><img srcset="/sites/default/files/styles/retina_1x/public/2017-08/Header_Image-nbn-com-2.png?itok=_pwM8VHJ 1x, /sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt 2x, /sites/default/files/2017-08/Header_Image-nbn-com-2.png 3x" src="/sites/default/files/styles/retina_1x/public/2017-08/Header_Image-nbn-com-2.png?itok=_pwM8VHJ" alt="https://www.amaysim.com.au/terms-policies/competitions-promos" typeof="foaf:Image"></div><div class="hero-banner__content"><h1 class="hero-banner__title" id="win-a-google-home-chromecast-ultra-and-a-year-of-nbn">win a Google Home, Chromecast Ultra and a year of nbn™</h1><p>Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.<br><a href="//www.amaysim.com.au/terms-policies/competitions-promos" target="_blank">T&amp;Cs apply</a>.</p><p><a class="button--orange-cta" href="//www.amaysim.com.au/plans/nbn">sign up</a></p></div></div></section></div> -->
